@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-flex justify-content-start mt-4">
    <a href="@Url.Action("Create", "Facilities")" class="btn btn-primary btn-lg" style="width: 200px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px;">
        <i class="fas fa-wallet fa-2x"></i> <!-- Font Awesome icon -->
        <span>Create</span>
    </a>
</div>
